* {
    margin: 0;
    font-family: 'Calibri';
}

:root {
    --gradient: linear-gradient(
        45deg,
        white,
        rgb(178, 254, 178),
        rgb(181, 181, 255)
    );
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 87, 87);
    border-radius: 10px;
}

nav {
    height: 10vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 20px;
    display: flex;
    align-items: center;
    position: fixed;
}

li {
    list-style-type: none;
}

input {
    height: 40px;
    width: 300px;
    font-size: 20px;
}

#pokemon-name {
    font-size: 30px;
}

.d-none {
    display: none;
}

.complete-view {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-img {
    height: 5vh;
    margin-right: 20px;
}

.detailed-view {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    padding-top: 20px;
}

.name-close-container {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: end;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    align-items: center;
}

.background-name {
    justify-items: center;
    grid-column: 2;
}

.background-name {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.background-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 5px;
}

.close-img {
    width: 20px;
    margin: 10px;
    filter: invert(100%);
    cursor: pointer;
    grid-column: 3;
}

.close-img:hover {
    filter: invert(10%);
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.pokemon-card-top {
    width: 350px;
    height: 200px;
    color: rgb(14, 15, 12);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.pokemon-card-info {
    width: 350px;
    height: 330px;
    border-radius: 10px;
    margin-top: -10px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: var(--gradient);
}

.pokemon-card-info-with-arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.both-arrows {
    display: flex;
}

.arrow img {
    width: 50px;
    margin: 20px;
    cursor: pointer;
    filter: invert(100%);
}

.info {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info canvas {
    height: 250px;
    width: 250px;
    margin-top: 20px;
}

.list-info {
    display: flex;
    justify-content: space-evenly;
    margin-left: -30px;
    margin-top: 40px;
}

.list-info li {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 99;
    width: 50px;
    height: 20px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

.list-info li:hover {
    background-color: rgb(198, 198, 198);
}

.pokemon-img {
    width: 200px;
    position: relative;
}

.info-abilities {
    display: flex;
    padding-left: 20px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 220px;
}

.info-abilities-text {
    margin-right: 50px;
    width: 100px;
}

.single-moves {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.move {
    height: 20px;
    width: 120px;
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.whole-small-cards {
    margin-top: 10vh;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.small-card {
    height: 200px;
    width: 140px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(138, 43, 226, 0.6);
    cursor: pointer;
}

.small-card:hover {
    background-color: white;
    margin: 10px;
    width: 150px;
    height: 210px;
}

.small-card-name {
    font-size: 20px;
}

.small-card-img {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
}

.small-card-img img {
    height: 120px;
    object-fit: cover;
}

.more-pokemon-btn {
    height: 70px;
    width: 220px;
    margin: 15px;
    border: 0px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.more-pokemon-btn:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.display-types {
    display: flex;
    justify-content: space-between;
}

.display-type {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(127, 127, 127);
    width: 60px;
    height: 20px;
    border-radius: 20px;
    color: white;
    margin-right: 5px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .pokemon-card-top {
        width: 250px;
    }

    .pokemon-card-info {
        width: 250px;
        height: 300px;
    }

    .arrow img {
        width: 40px;
    }

    .pokemon-img {
        width: 150px;
        margin-top: 20px;
    }

    .list-info {
        margin-top: 0;
    }

    .info-abilities {
        width: 180px;
    }

    .info {
        width: 200px;
    }

    .info canvas {
        margin-top: 50px;
    }
}

@media (max-width: 400px) {
    .pokemon-card-top {
        width: 100vw;
    }

    .pokemon-card-info {
        width: 100vw;
    }

    .pokemon-card {
        padding: 0;
    }

    .pokemon-card-top {
        border-radius: 0;
    }
}